#contenedor-navbar {
    display:flex;
    height:fit-content;
    width: fit-content;
    border: black 1px;
}

h1{
justify-content:center;
background-color: lightsalmon;
}
@media screen and (max-width:600px){
h1{
    background-color: lightsalmon;
    height:fit-content;
    width:fit-content;
}
#img{
    height:fit-content;
    width: fit-content;
    margin-left: 10px;
    }
#button_data{
    display:flex;
    justify-content:center;
    height: fit-content;
    width:fit-content;
    }
}
#button_data{
display:flex;
justify-content:center;
height: fit-content;
}

body{
    background-image:url("./images/background.jpeg");
    background-size: 100% 100%;
    font-family: "Apple Chancery, cursive"
}

#img{
height:200px;
width: 200px;
margin-left: 20px;
}


.carousel-item img {
    align-content: center;
    min-width: 100px;
    min-height: 100px;
    height: 300px;
    width: auto;
    margin:auto;
}

.carousel-control-next-icon{

    background-color: black;
}

.carousel-control-prev-icon{
    background-color: black;
}

#carouselExampleIndicators{
display: none;

}

